# Dependencies
node_modules/
.pnpm-store/

# Production builds
dist/
dist-ssr/
build/
out/

# Local env files
*.local
.env
.env.*

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings/

# OS Files
.DS_Store
Thumbs.db

# Microsoft Word temporary files
~$*.docx
~$*.doc
